@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

.center {
  width: 100%;
  height: auto;
  max-width: 70%;
  margin: auto;
}

section,
footer {
  position: relative;
  width: 100%;
  height: 100%;
  top: 155px;
  left: 0;
  position: relative;
}

.header {
  background: #3b1a0f;
  width: 100%;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header .header_link {
  font-size: 16px;
}

/* header_gnb depth style */

.header_gnb .depth1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header_gnb .depth1_list {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.header_gnb .depth1 a {
  color: white;
  display: inline-block;
  padding: 10px 40px;
  font-weight: 400;
}

.header_gnb .sub_menu .depth2 {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #f7e1aa;
  padding: 20px 20%;
  display: flex;
  transition: all 0.46s ease-in-out;
}
/* .header_gnb .sub_menu .depth2.on {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #f7e1aa;
  padding: 20px 20%;
  display: flex;
  transition: all 0.46s ease-in-out;
}

.header_gnb .sub_menu .depth2 {
  width: 100%;
  height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: #f7e1aa;
  padding: 0 20%;
  display: flex;
  transition: all 0.46s ease-in-out;
} */

.header_gnb .sub_menu .depth2_info {
  width: 40%;
  height: 160px;
  background: #f8f4eb;
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.header_gnb .sub_menu .depth2_info.on {
  width: 40%;
  height: 160px;
  background: #f8f4eb;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.header_gnb .sub_menu .depth2_info .depth2_p {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #3b1a0f;
}

.header_gnb .sub_menu .depth2_info .depth2_p strong {
  font-size: 20px;
}

.header_gnb .sub_menu .depth2_info .depth2_p p {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

.header_gnb .sub_menu .depth2_info .depth2_img {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_gnb .sub_menu .depth2_listbox {
  opacity: 0;
  width: 60%;
  height: 160px;
  transition: all 0.46s ease-in-out;
}

.header_gnb .sub_menu .depth2_listbox a {
  font-weight: 600;
  color: #3b1a0f;
  font-family: "Noto Sans KR";
  font-size: 16px;
}

.header_gnb .sub_menu .depth2_listbox.on {
  opacity: 1;
  width: 60%;
  height: 160px;
  transition: all 0.46s ease-in-out;
}

.header_gnb .sub_menu .depth2_list .depth2_unorder {
  display: block;
}

.header_gnb .sub_menu .depth2_unorder .depth2_list {
  display: inline-block;
  width: calc(50% - 3.8em);
  border-bottom: 1px solid rgba(59, 26, 15, 0.5);
  margin-right: 2%;
  margin-left: 2%;
  text-align: left;
  transition: all 0.4s;
}

.header_gnb .sub_menu .depth2_unorder .depth2_list:hover {
  border-bottom: 1px solid #3b1a0f;
}

.header_gnb .sub_menu .depth2_unorder .depth2_list a {
  color: rgba(59, 26, 15, 0.5);
  padding: 7px 10px;
  display: inline-block;
  width: 100%;
  transition: all 0.4s;
}

.header_gnb .sub_menu .depth2_unorder .depth2_list:hover a {
  color: #3b1a0f;
}

.header_bottom {
  width: 100%;
  text-align: center;
  background: #f7e1aa;
  padding: 20px 10px;
}

.header_bottom a {
  color: #000;
}

/* swiper css style */
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  top: 155px;
  left: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
}

.swiper-slide1,
.swiper-slide2,
.swiper-slide3,
.swiper-slide4 {
  display: block;
  width: 100%;
  height: 745px;
}

.swiper-slide1 {
  background: url(/godiva/img/common/slider1.jpg) no-repeat center center;
}

.swiper-slide2 {
  background: url(/godiva/img/common/slider2.jpg) no-repeat center center;
}

.swiper-slide3 {
  background: url(/godiva/img/common/slider3.jpg) no-repeat center center;
}

.swiper-slide4 {
  background: url(/godiva/img/common/slider4.jpg) no-repeat center center;
}

.swiper-pagination {
  width: 100px;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 0 30px;
}

/* godiva title style */
.godiva_h2 {
  font-size: 2.5rem;
  color: #3b1a0f;
}

.godiva_h3 {
  font-size: 1.5rem;
  color: rgba(59, 26, 15, 0.5);
}

/* godiva_event section */
.godiva_event {
  background: #f8f4eb;
  padding: 20px 0;
}

.godiva_title {
  text-align: center;
  padding: 50px 0;
}

.godiva_imgbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 30px auto;
  padding: 0 25px;
}

.godiva_txtbox.top {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}

.godiva_outline.event1 {
  position: relative;
  width: 406px;
  height: 475px;
}

.godiva_outline.event2 {
  position: relative;
  width: 626px;
  height: 250px;
}

.godiva_outline.event2:hover {
}

.godiva_txtbox.middle {
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  font-family: "Noto Sans KR", sans-serif;
  background: #f7e1aa;
  margin: 0 20px;
  transition: all 0.3s;
}

.godiva_txtbox.middle:hover {
  background: #3b1a0f;
}

.godiva_txtbox.middle h3 {
  display: flex;
  text-align: center;
  display: flex;
}

.godiva_txtbox.middle a {
  width: 100%;
  height: 100%;
  color: #3b1a0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.godiva_txtbox.middle:hover a {
  color: #f7e1aa;
}

.godiva_outline.event3 {
  position: relative;
  width: 411px;
  height: 250px;
}

.godiva_outline.event1:nth-child(1) {
  background: url(/godiva/img/event/event1.jpg) no-repeat center;
  transition: all 0.5s;
}

.godiva_outline.event1:nth-child(1):hover {
  box-shadow: 20px 20px 54px 1px rgb(0 0 0 / 20%);
}

.godiva_outline.event1:nth-child(2) {
  background: url(/godiva/img/event/event2.jpg) no-repeat center;
}

.godiva_outline.event1:nth-child(2):hover {
  box-shadow: 20px 20px 54px 1px rgb(0 0 0 / 20%);
}

.godiva_outline.event1:nth-child(3) {
  background: url(/godiva/img/event/event3.jpg) no-repeat center;
}

.godiva_outline.event1:nth-child(3):hover {
  box-shadow: 20px 20px 54px 1px rgb(0 0 0 / 20%);
}

.godiva_outline.event2:nth-child(1) {
  background: url(/godiva/img/event/event4.jpg) no-repeat center;
}

.godiva_outline.event2:nth-child(2) {
  background: url(/godiva/img/event/event5.jpg) no-repeat center;
}

.godiva_outline.event3:nth-child(1) {
  background: url(/godiva/img/event/event6.jpg) no-repeat center;
}

.godiva_outline.event3:nth-child(2) {
  background: url(/godiva/img/event/event7.jpg) no-repeat center;
}

.godiva_outline.event3:nth-child(3) {
  background: url(/godiva/img/event/event8.jpg) no-repeat center;
}

.godiva_outline span {
  position: absolute;
  background: #3b1a0f;
  margin: 10px;
}

.godiva_outline span:nth-child(1) {
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
  transition: all 0.2s;
}
.godiva_outline span:nth-child(2) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 0;
  transition: all 0.2s;
}
.godiva_outline span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: all 0.2s;
}
.godiva_outline span:nth-child(4) {
  left: 0;
  top: 0;
  width: 1px;
  height: 0;
  transition: all 0.2s;
}

.godiva_outline:hover span:nth-child(1) {
  width: 80%;
}
.godiva_outline:hover span:nth-child(2) {
  height: 80%;
}

.godiva_outline:hover span:nth-child(3) {
  width: 80%;
}
.godiva_outline:hover span:nth-child(4) {
  height: 80%;
}

/* godiva_sns grid style */
.godiva_snsbox {
  margin: 0 0 50px 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: auto;
}

.godiva_item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.godiva_item img {
  width: 100%;
  height: 100%;
}

/* footer style */
.godiva_footer {
  background: #3b1a0f;
}

.footer_top {
  width: 70%;
  margin: auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f8f4eb;
}
