@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
.wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 172px;
}

.center {
  width: 100%;
  height: auto;
  max-width: 70%;
  margin: auto;
}

.header {
  background: #3b1a0f;
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header_info {
  width: 33%;
}

.header_info:nth-child(2) {
  display: flex;
  justify-content: center;
}

.header_info:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_info .fa-search,
.header_info .fa-bars,
.header_info .fa-times {
  color: #cfb56a;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}

.header_info .fa-bars {
  display: none;
}

.header_info .fa-times.left,
.header_info .fa-times.right {
  display: none;
}

.header .header_link,
.header_info2 .fa-search,
.header_info2 .fa-bars,
.header_info2 .fa-times {
  color: #cfb56a;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.header .header_link {
  font-family: "Noto Sans KR", sans-serif;
}

/* header_gnb depth style */
.header_gnb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.header_info2 {
  width: 10%;
  display: none;
}

.header_info2.show:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_info2.show:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_info2 .fas {
  font-size: 25px;
  margin-right: 10px;
}

.header_info2.show {
  display: flex;
}

.header_gnb .depth1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_gnb .depth1_list {
  /* padding: 10px 0; */
}

.header_gnb .depth1_a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.header_gnb .depth1 a {
  color: white;
  display: inline-block;
  font-weight: 400;
  transition: all 0.4s;
  padding: 20px 30px;
}

.header_gnb .depth1_list a:hover {
  color: #f7e1aa;
}

.header_gnb .sub_menu .depth2 {
  display: none;
}

.header_gnb .sub_menu .depth2_info {
  display: none;
}

.header_gnb .sub_menu .depth2.on {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 11;
  background: #f7e1aa;
  padding: 20px 15%;
  display: flex;
}

.header_gnb .sub_menu .depth2_info.on {
  width: 40%;
  height: 160px;
  background: #f8f4eb;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.header_gnb .sub_menu .depth2_info .depth2_p {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #3b1a0f;
}

.header_gnb .sub_menu .depth2_info .depth2_p strong {
  font-size: 20px;
  text-align: center;
}

.header_gnb .sub_menu .depth2_info .depth2_p p {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

.header_gnb .sub_menu .depth2_info .depth2_img {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_gnb .sub_menu .depth2_listbox {
  width: 60%;
  height: 160px;
  transition: all 0.46s ease-in-out;
  display: none;
}

.header_gnb .sub_menu .depth2_listbox a {
  font-weight: 600;
  color: #3b1a0f;
  font-family: "Noto Sans KR";
  font-size: 16px;
}

.header_gnb .sub_menu .depth2_listbox.on {
  width: 60%;
  height: 160px;
  height: 160px;
  display: block;
}

.header_gnb .sub_menu .depth2_list .depth2_unorder {
  display: block;
}

.header_gnb .sub_menu .depth2_unorder .depth2_list {
  display: inline-block;
  width: calc(50% - 3.8em);
  border-bottom: 1px solid rgba(59, 26, 15, 0.5);
  margin-right: 2%;
  margin-left: 2%;
  text-align: left;
  transition: all 0.4s;
}

.header_gnb .sub_menu .depth2_unorder .depth2_list:hover {
  border-bottom: 1px solid #3b1a0f;
}

.header_gnb .sub_menu .depth2_unorder .depth2_list a {
  color: rgba(59, 26, 15, 0.5);
  padding: 7px 10px;
  display: inline-block;
  width: 100%;
  transition: all 0.4s;
}

.header_gnb .sub_menu .depth2_unorder .depth2_list:hover a {
  color: #3b1a0f;
}

.header_nav {
  position: fixed;
  width: 50%;
  height: 100%;
  left: -100%;
  background: #cfb56a;
  background-repeat: no-repeat;
  top: 112px;
  display: block;
  transition: 1s;
  z-index: 18;
}

.header_nav.show {
  left: 0;
}

.header_navlogin {
  padding: 20px;
  border-bottom: 1px solid #3b1a0f;
}

.header_navlogin a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3b1a0f;
}

.header_navlogin a strong {
  color: #3b1a0f;
  font-size: 26px;
}

.header_navimg {
  width: 100%;
  height: 100px;
  background: url(/godiva/img/common/nav1.jpg) no-repeat center;
}

.header_navbox li {
  color: #3b1a0f;
}

.header_navbox li:first-child {
  margin-top: 10px;
}

.header_navbox li.active {
  background: #3b1a0f;
  color: #cfb56a;
}

.header_navbox li.active a {
  color: #cfb56a;
}

.header_navbox a {
  display: inline-block;
  width: 100%;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  color: #3b1a0f;
  font-weight: 900;
  line-height: 2;
  padding: 20px;
}

/* .header_navbox a.active {
  color: #cfb56a;
  background: #3b1a0f;
} */

.header_bottom {
  width: 100%;
  position: absolute;
  border-top: 1px solid white;
  background: #3b1a0f;
  padding: 20px 10px;
  z-index: 20;
  display: none;
  top: 112px;
}

.header_bottom.show {
  display: block;
}

.header_bottom .search_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_bottom .search {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #f7e1aa;
  outline: none;
  font-size: 20px;
  padding: 0px 15px;
  color: #f7e1aa;
  font-family: "Noto Sans KR", sans-serif;
  background: none;
}

.header_bottom .fa-search {
  font-size: 20px;
  margin-left: 15px;
  color: #f7e1aa;
  text-align: center;
}

.header_bottom .fa-times {
  font-size: 25px;
  margin-left: 15px;
  color: #f7e1aa;
  text-align: center;
  cursor: pointer;
}

/* swiper css style */

.slider.pc {
  top: 172px;
}

.slider.mobile {
  display: none;
}

.slider.mobile p {
  display: inline-block;
  background: #cfb56a;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #3b1a0f;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
}

.swiper-slide {
  width: 100%;
}

.swiper-slide1 img,
.swiper-slide2 img,
.swiper-slide3 img,
.swiper-slide4 img {
  width: 100%;
}

.swiper-pagination {
  width: 100px;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 20px;
  outline: none;
}

.swiper-button-next {
  background: url(/godiva/img/common/next.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
  right: 30px;
}

.swiper-button-prev {
  background: url(/godiva/img/common/prev.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
  left: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #3b1a0f;
}

/* godiva title style */
.godiva_h2 {
  font-size: 2.5rem;
  color: #3b1a0f;
}

.godiva_h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  color: rgba(59, 26, 15, 0.5);
}

/* godiva_event section */
.godiva_event {
  background: #f8f4eb;
  padding: 20px 0;
}

.godiva_title {
  text-align: center;
  padding: 50px 0;
}

.godiva_imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 50px auto;
  padding: 0 25px;
}

.godiva_txtbox.top {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}

.godiva_outline.event1 {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0 10px;
}

.godiva_outline.event2 {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 10px;
}

.godiva_txtbox.middle {
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  font-family: "Noto Sans KR", sans-serif;
  background: #f7e1aa;
  margin: 0 20px;
  transition: all 0.3s;
}

.godiva_txtbox.middle:hover {
  background: #3b1a0f;
}

.godiva_txtbox.middle h3 {
  display: flex;
  text-align: center;
  display: flex;
}

.godiva_txtbox.middle a {
  width: 100%;
  height: 100%;
  color: #3b1a0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.godiva_txtbox.middle:hover a {
  color: #f7e1aa;
}

.godiva_outline.event3 {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 10px;
}

.godiva_outline.event1:nth-child(1) {
  background: url(/godiva/img/event/event1.jpg) no-repeat center;
  transition: all 0.5s;
}

.godiva_outline.event1:nth-child(1):hover {
  box-shadow: 20px 20px 54px 1px rgb(0 0 0 / 20%);
}

.godiva_outline.event1:nth-child(2) {
  background: url(/godiva/img/event/event2.jpg) no-repeat center;
}

.godiva_outline.event1:nth-child(2):hover {
  box-shadow: 20px 20px 54px 1px rgb(0 0 0 / 20%);
}

.godiva_outline.event1:nth-child(3) {
  background: url(/godiva/img/event/event3.jpg) no-repeat center;
}

.godiva_outline.event1:nth-child(3):hover {
  box-shadow: 20px 20px 54px 1px rgb(0 0 0 / 20%);
}

.godiva_outline.event1:nth-child(4) {
  background: url(/godiva/img/event/event9.jpg) no-repeat center;
}

.godiva_outline.event1:nth-child(4):hover {
  box-shadow: 20px 20px 54px 1px rgb(0 0 0 / 20%);
}

.godiva_outline.event2:nth-child(1) {
  background: url(/godiva/img/event/event4.jpg) no-repeat center;
}

.godiva_outline.event2:nth-child(2) {
  background: url(/godiva/img/event/event5.jpg) no-repeat center;
}

.godiva_outline.event3:nth-child(1) {
  background: url(/godiva/img/event/event6.jpg) no-repeat center;
}

.godiva_outline.event3:nth-child(2) {
  background: url(/godiva/img/event/event7.jpg) no-repeat center;
}

.godiva_outline.event3:nth-child(3) {
  background: url(/godiva/img/event/event8.jpg) no-repeat center;
}

.godiva_outline span {
  position: absolute;
  background: #3b1a0f;
  margin: 10px;
}

.godiva_outline span:nth-child(1) {
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
  transition: all 0.2s;
}
.godiva_outline span:nth-child(2) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 0;
  transition: all 0.2s;
}
.godiva_outline span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: all 0.2s;
}
.godiva_outline span:nth-child(4) {
  left: 0;
  top: 0;
  width: 1px;
  height: 0;
  transition: all 0.2s;
}

.godiva_outline:hover span:nth-child(1) {
  width: 80%;
}
.godiva_outline:hover span:nth-child(2) {
  height: 80%;
}

.godiva_outline:hover span:nth-child(3) {
  width: 80%;
}
.godiva_outline:hover span:nth-child(4) {
  height: 80%;
}

/* godiva_sns grid style */
.godiva_snsbox {
  margin: 0 0 50px 0;
}
.container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: auto;
}

.godiva_item {
  position: relative;
  background: tomato;
  height: auto;
}

.godiva_item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.godiva_item img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.godiva_itemtxt {
  position: absolute;
  bottom: 50px;
  left: 0;
  padding: 0 20px;
  color: white;
  opacity: 0;
}

.godiva_item:hover img {
  filter: brightness(10%);
}

.godiva_item:hover .godiva_itemtxt {
  opacity: 1;
}

/* footer style */
.godiva_footer {
  background: #3b1a0f;
}

.footer_top,
.footer_bottom {
  width: 70%;
  margin: auto;
  padding: 50px 0;
}

.footer_top {
  display: flex;
  justify-content: space-between;
}

.footer_top {
  border-bottom: 1px solid rgba(248, 244, 235, 0.3);
}

.footer_topbox ul li {
  color: #f8f4eb;
  padding: 5px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.footer_topbox ul li a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: #f8f4eb;
}

.footer_topbox ul li:first-child {
  margin-bottom: 10px;
}

.footer_topbox .footer_toptitle {
  color: #f7e1aa;
  font-size: 1rem;
}

.footer_topbox .godiva_snsicon .godiva_snslist {
  margin-right: 10px;
  display: inline-block;
}

.footer_topbox .godiva_snsicon li:first-child {
  display: block;
}

.footer_topbox .fab {
  font-size: 30px;
}

.footer_bottom .godiva_address {
  color: #f8f4eb;
  font-style: normal;
  line-height: 1.714rem;
  letter-spacing: -1px;
}

/* content top button */
.content_top.show {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #f8f4eb;
  color: #3b1a0f;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid;
  cursor: pointer;
  transition: all 0.4s;
}

.content_top.show:hover {
  color: #f8f4eb;
  background: #3b1a0f;
}

.content_top {
  display: none;
}
